@media Screen and (max-width: 1408px) {
  #hero-title {
    font-size: 5rem;
  }
  form {
    width: 100%;
  }

  .title {
    color: white;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  }
  .sub-title {
    color: white;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
    font-size: x-large;
  }
}

@media Screen and (max-width: 1216px) {
  #hero-title {
    font-size: 5rem;
  }
  form {
    width: 100%;
  }

  .title {
    color: white;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  }
  .sub-title {
    color: white;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
    font-size: x-large;
  }
}

@media Screen and (max-width: 1024px) {
  .side-bar {
    display: none;
  }
  form {
    width: 100%;
  }
  a {
    text-decoration: none;
    color: #fff;
    font-size: medium;
  }
  .title {
    color: white;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  }
  .sub-title {
    color: white;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
    font-size: large;
  }
}

@media Screen and (min-width: 769px) {
  #hero-title {
    font-size: 5rem;
  }
  form {
    width: 100%;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  .title {
    color: white;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  }
  .sub-title {
    color: white;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
    font-size: large;
  }
}

@media Screen and (max-width: 768px) {
  #hero-title {
    font-size: 3rem;
    margin-right: 40px;
  }
  form {
    width: 100%;
  }
  .title {
    color: white;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  }
  .sub-title {
    color: white;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
    font-size: medium;
    margin-right: 40px;
  }
  #game-text {
    width: 95%;
    border: none;
  }

  /* adding size to the search button on mobile */
  .button {
    width: 100px;
  }
}
