.hero.is-primary {
    z-index: 1;
    color: #fff;
    background-color: #666666;
  }
  
  .hero-background {
    z-index: -1;
    opacity: 0.4;
    background-image: url(images/gameHero1.jpeg);
  }
  
  .search-bar {
    margin: auto;
    border-radius: 0;
    box-shadow: 0 0 2px 0 #8a8787;
  }
  
  .button {
    width: 7vw;
    border-radius: 0;
    box-shadow: 0 0 2px 0 #8a8787;
  }
  
  .card-domain {
    display: flex;
    justify-content: center;
  }
  
  .card {
    height: 35vh;
    width: 40vw;
    margin: 4%;
    box-shadow: 0 5px 0 0 #bdbaba;
  }
  
  #game-text {
    width: 40vw;
    border: solid 0.5px #d6d1d1fa;
  }
  
  #main-img {
    display: block;
    height: 35vh;
    width: 40vw;
  }
  
  .footer-domain {
    border: solid 0.5px #d6d1d1fa;
    background-color: #5686a5;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
  }
  
  .menu-btn {
    position: absolute;
    z-index: 3;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
  
  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
  }
  